header {
    font-family:Poppins, system-ui, sans-serif;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px; 
}


nav {
    display: flex;
    font-size: 30px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 20px;
}

.qlp {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 40px;
}

form {
    margin-top: 100px;
    display: block;
    align-items: center;
}
